# OS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example

# Build outputs
dist/
build/
.cache/
.parcel-cache/
.turbo/

# Tooling
coverage/
.nyc_output/
.eslintcache

# Editors
.vscode/
.idea/

# Frameworks
.next/
.vercel/

# Playwright
playwright-report/
.playwright-cache/

# Mac
.AppleDouble
.LSOverride

# Misc
*.local
Thumbs.db
ehthumbs.db
